.inputField {
  margin: 1vmin;
  font-size: 3vmin;
  border-radius: 1vmin;
  background-color: bisque;
}

.submitButton {
  font-weight: bold;
  font-size: 3vmin;
  border-radius: 1vmin;
  background-color: darksalmon;
}
