.app {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.mars {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(brown, salmon, darksalmon 40%, darkblue);
}

.space {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 80s linear infinite;
}

h2 {
  font-size: 4vmin;
  color: bisque;
}

ul {
  font-size: 3.5vmin;
  color: bisque;
  list-style: none;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100vw 0;
  }
}
